body{
    background-color: #e0e0e0;
    margin: 0;
    font-family: Verdana, Geneva;
}
.container {
    display: flex;
    height: 100vh;
}
.left-menu {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    float: right;
    max-width: 60%;
    padding: 20px;
    text-align: center;
}
.main h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
.main p{
    font-size: 1.25rem;
    line-height: 1.8;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: justify;

}
img{
    max-width: 100%;
    height: auto;
}

nav{
    
    margin: 1rem auto;
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    
}
nav ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}
 nav li{
    color: #554ec0;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    padding: 0.5rem 1rem;
}
 nav a:focus {
    background-color: #6d7374;
    color:black;
}
nav a:hover {
    color: #5e5554;
    background-color: #dddbd0;
    
}
.liens-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.lien {
    font-size: 1.5rem;
    padding: 1rem 2rem; 
    background-color: #554ec0;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin: 1rem 0;
}

.lien:hover {
    background-color: #ff583d;
}